@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

/*
BREAKPOINTS ARGUMENTS CHOICE (the "good" way, which determining these choices
by analysing group of screens used in the world. The "perfect" way would have to determine
the breakpoint by analyzing each real breakpoint on my screen, using "Toggle Screen" in DevTools"
- phone   // 0-600px
- tablet-port  // 600-900px
- tablet-land   //   900-1200px
- "normal - no set up  max width() needed"   //   1200-1800px
- big-screen  //  +1800px

1em = 16px,  and we're going to use em units in determining the breakpoints so it takes into 
consideration the useragent's settings; and the @media can't take into consideration
rem units anyway ...
*/
@keyframes comingFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes comingFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes comingFromRight {
  0% {
    opacity: 0;
    transform: translateX(4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-4rem); }
  70% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* For the media queries, I must define what new value I want for 1 rem
    phone, for 0-600 screen width => I want 1 rem = 8px  ; 8px/16px = 50%
    table-port, 600-900 => I want 1 rem = 8px  ; 8px/16px = 50%
    tablet-land, 900-1200 => I want 1 rem = 9px  ; 9px/16px = 56.25%
    normal  => I want 1 rem = 10px ; 1px/16px = 62.5%
    big-screen, +1800 => I want 1 rem = 12px ; 1px/16px = 75%

    So the result is :
    max-width(900) , 50%
    max-width(1200), 56.25%
    min-width(1800), 75%

    And the correct order is (to prevent unwanted overwritting, cuz it's the last one that will overwrite the others:
    max-width(1200), 56.25%
    max-width(900) , 50%
    min-width(1800), 75%
*/
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #ffffff; }

body {
  font-family: "Lato",sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #000; }

.heading {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 4rem; }
  .heading--upper {
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 4rem;
    display: block;
    animation-name: comingFromRight;
    animation-duration: 2s;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 75em) {
      .heading--upper {
        letter-spacing: 3rem; } }
    @media (max-width: 56.25em) {
      .heading--upper {
        letter-spacing: 1.5rem;
        font-size: 5rem; } }
    @media (max-width: 37.5em) {
      .heading--upper {
        letter-spacing: 1rem;
        font-weight: 400;
        font-size: 4.5rem; } }
  .heading--sub {
    display: block;
    font-weight: 700;
    letter-spacing: 1rem;
    font-size: 2rem;
    padding-left: .2rem;
    display: block;
    animation-name: comingFromLeft;
    animation-duration: 2s;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 75em) {
      .heading--sub {
        letter-spacing: .5rem;
        font-weight: 400; } }
    @media (max-width: 56.25em) {
      .heading--sub {
        font-weight: 400; } }
    @media (max-width: 37.5em) {
      .heading--sub {
        font-size: 1.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: .2rem;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  color: #777;
  text-transform: uppercase;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem;
  color: #777; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* FIRST HEADING STYLING PROJECT WITH A DOUBLE EFFECT ON TWO SEPARATE BLOCKS

.heading {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 4rem;

    &--upper {
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 4rem;
        //animation-name: comingFromRight;
        //animation-duration: 2s;*

        @include responsive (special-heading){
            letter-spacing: 3rem;
            }

        &>span {
            display: inline-block;
            animation-duration : 2s;
        }

        &--first-half {
            animation-name: comingFromLeft;
            
            @include responsive (special-heading){
                animation-name: none ;
                }
        }

        &--second-half {
            animation-name: comingFromRight;            
        }
    }

    &--sub {
        display: block;
        font-weight: 700;
        letter-spacing: 1rem;
        font-size: 2rem;
        padding-left: .2rem;

        &>span {
            display: inline-block;
            animation-duration : 2s;
        }

        &--first-half {animation-name: comingFromLeft;}

        &--second-half {animation-name: comingFromRight;}
    }
}

*/
.u-center-text {
  text-align: center !important; }

.u-center-block {
  margin: 0 auto !important; }

.u-bottom-margin-big {
  margin-bottom: 8rem !important;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .u-bottom-margin-big {
      margin-bottom: 5rem !important; } }

.u-bottom-margin-middle {
  margin-bottom: 4rem !important;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .u-bottom-margin-middle {
      margin-bottom: 3rem !important; } }

.u-bottom-margin-small {
  margin-bottom: 1.3rem !important; }

.u-top-margin-big {
  margin-top: 8rem !important;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .u-top-margin-big {
      margin-top: 4rem !important; } }

.u-image-circle-cropper {
  width: 14rem;
  height: 14rem;
  overflow: hidden;
  clip-path: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%); }

.u-centered-image-in-circle {
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto; }

.u-float-left {
  float: left; }

.u-shape-circle {
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  transform: translateX(-3rem); }

.bg-video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-align: center;
  position: relative;
  /* because we use a btn pseudo-elrement which has an absolulute position */
  border-radius: 5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.4rem 4rem;
  display: inline-block;
  transition: all 0.3s;
  /* quick way to call the transitions in the intial state propety definition */
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    /*compulsory technique to not get problem */
    z-index: 40; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  /*compulsory when you create a pseudo element */
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  z-index: -1;
  transition: all 0.3s; }

.btn--animated {
  animation: comingFromBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #ffffff;
  color: #777; }
  .btn--white::after {
    background-color: #ffffff; }

.btn--green {
  background-color: #55c57a;
  color: #ffffff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn-small {
  display: inline-block; }
  .btn-small:link, .btn-small:visited {
    color: #55c57a;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 3px;
    border-bottom: #55c57a solid 1px;
    transition: all .2s; }
  .btn-small:hover {
    color: #ffffff;
    background-color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .btn-small:active {
    transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 56.25em) {
      .composition__photo {
        width: 33.3333%;
        float: left;
        position: relative; } }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      z-index: 20; }
    .composition__photo--1 {
      left: 0;
      top: -2rem;
      /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
      @media (max-width: 56.25em) {
        .composition__photo--1 {
          transform: scale(1.2);
          top: 0; } }
    .composition__photo--2 {
      right: 0;
      top: 2rem;
      /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
      @media (max-width: 56.25em) {
        .composition__photo--2 {
          transform: scale(1.3);
          top: 0;
          z-index: 100; } }
    .composition__photo--3 {
      left: 20%;
      top: 10rem;
      /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
      @media (max-width: 56.25em) {
        .composition__photo--3 {
          transform: scale(1.1);
          top: 0;
          left: 0; } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.features-box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .2s; }
  .features-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .features-box__text {
    font-size: 1.6rem;
    color: #777;
    margin-top: 1.5rem; }
  .features-box:hover {
    transform: scale(1.07) translateY(-4px); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 53rem;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  .card__side {
    height: 53rem;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(180deg);
      text-align: center;
      padding: 8rem 0; }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: url(../img/nat-5.jpg), linear-gradient(to bottom right, #ffb900, #ff7730); }
    .card__picture--2 {
      background-image: url(../img/nat-6.jpg), linear-gradient(to bottom right, #7ed56f, #28b485); }
    .card__picture--3 {
      background-image: url(../img/nat-7.jpg), linear-gradient(to bottom right, #2998ff, #5643fa); }
  .card__heading {
    text-transform: uppercase;
    font-size: 2.8rem;
    color: #ffffff;
    font-weight: 300;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    text-align: center;
    padding: 3rem; }
    .card__details ul {
      list-style-type: none;
      font-size: 1.6rem;
      color: #777;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        padding: 1rem 0; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px #eee solid; }
  .card__cta {
    margin: 0 auto;
    vertical-align: middle; }
  .card__back-comment {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #ffffff;
    padding: 3rem 0rem  .5rem 0rem; }
  .card__price-tag {
    font-size: 7rem;
    color: #ffffff;
    font-weight: 100;
    margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .card {
      /* I copy-pasted the whole set up of the .card and then deleted all the parts that won't change
        in the tablet-port view like design elements, etc. In this media query it's mainly about deleting
        the hover effect, put the back-card part at the bottom of the front (= delete "absolute" positionning), 
        creating a clip-path effect for the bottom part, and adapting the font sizes */
      height: auto;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      background-color: #ffffff; }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0deg);
          padding: 4rem 0;
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      .card__details {
        padding: 0rem; }
      .card__back-comment {
        padding: 0rem; }
      .card__price-tag {
        font-size: 5rem;
        margin-bottom: 2rem; } }

.box-story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 4rem 8rem;
  padding-left: 12rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  vertical-align: middle;
  position: relative;
  z-index: 1;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  .box-story::after {
    clear: both;
    content: "";
    display: table; }
  @media (max-width: 56.25em) {
    .box-story {
      width: 100%;
      padding: 2rem 5rem 2rem 7rem; } }
  @media (max-width: 37.5em) {
    .box-story {
      width: 100%;
      padding: 2rem 5rem 2rem 7rem;
      clip-path: none;
      border-radius: 3px; } }
  .box-story__text {
    font-size: 1.6rem;
    color: #777; }
  .box-story__caption {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .box-story:hover .box-story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .box-story__image {
    transform: scale(1.4);
    transition: all .5s;
    backface-visibility: hidden; }
  .box-story:hover .box-story__image {
    filter: blur(3px) brightness(80%);
    transform: scale(1); }
  .box-story:hover {
    background-color: rgba(255, 255, 255, 0.8); }

.form__group:not(:last-child) {
  margin-bottom: 2rem;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .form__group:not(:last-child) {
      margin-bottom: 0rem; } }

.form__input {
  padding: 1.5rem 2rem;
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  outline: none;
  display: block;
  width: 90%;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px  solid transparent;
  animation: all .3s;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus {
    border-bottom: 3px solid #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }

.form__label {
  display: block;
  margin-left: 2rem;
  margin-top: .7rem;
  font-family: inherit;
  color: #999;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__group .form__radio-group {
  display: inline-block;
  width: 49%;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .form__group .form__radio-group {
      width: 100%; } }

.form__radio-input {
  visibility: hidden; }

.form__radio-label {
  font-size: 1.6rem;
  color: #777;
  position: relative;
  display: block;
  left: 4rem;
  cursor: pointer; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #55c57a;
  display: block;
  position: absolute;
  left: -4rem; }
  .form__radio-button::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #55c57a;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(119, 119, 119, 0.3);
  z-index: 3000;
  opacity: 0;
  visibility: hidden; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0;
    width: 75%;
    background-color: #ffffff;
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 37.5em) {
      .popup__content {
        width: 90%;
        max-height: 90%;
        overflow-y: scroll;
        display: block; } }
  .popup__left-side {
    width: 33.333333%;
    display: table-cell;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 56.25em) {
      .popup__left-side {
        width: 0; } }
    @media (max-width: 37.5em) {
      .popup__left-side {
        display: none; } }
  .popup__right-side {
    width: 66.6666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 56.25em) {
      .popup__right-side {
        width: 100%;
        padding: 1.5rem 3.5rem; } }
  .popup__picture {
    display: block;
    width: 100%;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 56.25em) {
      .popup__picture {
        display: none; } }
    .popup__picture--top {
      display: inherit;
      width: inherit; }
    .popup__picture--bottom {
      display: inherit;
      width: inherit; }
  .popup__text {
    font-size: 1.4rem;
    color: #999;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 37.5em) {
      .popup__text {
        column-count: 1; } }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    display: inline-block;
    font-size: 3rem;
    line-height: 1;
    color: #333;
    text-decoration: none;
    transition: all .2s;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 37.5em) {
      .popup__close:link, .popup__close:visited {
        top: 2rem;
        right: 2.5rem; } }
  .popup__close:hover, .popup__close:active {
    color: #55c57a;
    transform: scale(1.2); }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: all .4s .2s; }
  .popup .btn {
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 56.25em) {
      .popup .btn {
        /*to center the .btn, I didn't want to wrap 
            the btn by a div, and I can't use absolute positionning because turning 
            .popup into position: relative breaks the position: fixed.
            So I put a fixed weight and used margin-auto method*/
        display: block;
        width: 142px;
        margin: 0 auto; } }

.header {
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      height: 85vh; } }
  @media (min-resolution: 192dpi) and (min-width: 56.25em), (-webkit-min-device-pixel-ratio: 192 dpi) and (min-width: 56.25em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__box-heading {
    position: absolute;
    top: 40%;
    /* they are in relation with the parent coordinates*/
    left: 50%;
    transform: translate(-50%, -50%);
    /* it is  in relation with the elrement itself*/
    text-align: center;
    /* really useful and simpler than transform + translate or absolute positionning*/
    display: block; }

.footer {
  background-color: #333;
  color: #eee;
  padding: 12rem;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .footer {
      padding: 6rem; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 5rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #eee;
    display: inline-block;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:visited, .footer__link:link {
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: inherit;
    transition: all .2s;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    transform: rotate(5deg) scale(1.3);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #333; }
  .footer__copyright {
    border-top: 1px solid #eee;
    display: inline-block;
    font-size: 1.4rem;
    width: 80%;
    float: right;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        text-align: center;
        float: none; } }
  .footer .row {
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 56.25em) {
      .footer .row {
        max-width: 50rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .row {
      max-width: 45rem;
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 5rem;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 2rem; } }
  .row::after {
    clear: both;
    content: "";
    display: table; }
  .row [class^="col-"] {
    float: left;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin: 0 0 5rem 0 !important;
        float: none !important; } }
    .row [class^="col-"]:not(:first-child) {
      margin-left: 5rem; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2*5rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - (2*5rem)) / 3) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3*5rem)) / 4); }
  .row .col-3-of-4 {
    width: calc(3*((100% - (3*5rem)) / 4) + 2* 5rem); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  background-color: #ffffff;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      height: 5rem;
      width: 5rem;
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .navigation__background {
      height: 5rem;
      width: 5rem;
      top: 3.5rem;
      right: 3.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      height: 4rem;
      width: 4rem;
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  z-index: 1500;
  top: 0;
  right: 0;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  list-style: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  font-size: 3rem;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 230%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.4rem; }

.navigation__link:hover, .navigation__link:active {
  color: #55c57a;
  background-position: 100%;
  transform: translateX(1.3rem); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 37.5em) {
    .navigation__icon {
      margin-top: 2.5rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 37.5em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 2.5rem; } }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  transform: rotate(-135deg);
  top: 0; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 15rem 0;
      margin-top: -15vh; } }

.section-features {
  padding: 16rem 0;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -9rem;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 15rem 0 5rem 0; } }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 20rem 0;
  margin-top: -12vh;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 15rem 0 8rem 0; } }
  .section-tours div:last-child {
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 56.25em) {
      .section-tours div:last-child {
        margin-top: 0 !important; } }

.section-stories {
  padding: 15rem 0 10rem 0;
  margin-top: -12vh;
  position: relative;
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .section-stories {
      padding-bottom: 5rem; } }

.section-book {
  padding: 15rem 0 10rem 0;
  background: linear-gradient(to bottom right, #7ed56f, #28b485);
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0 5rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
  /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg);
      background-size: cover; } }
  .book__form {
    padding: 6rem;
    width: 50%;
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */
    /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */ }
    @media (max-width: 75em) {
      .book__form {
        width: 65%;
        padding: 5rem; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%;
        padding: 4rem; } }
