@mixin clearfix {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

@mixin position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*
BREAKPOINTS ARGUMENTS CHOICE (the "good" way, which determining these choices
by analysing group of screens used in the world. The "perfect" way would have to determine
the breakpoint by analyzing each real breakpoint on my screen, using "Toggle Screen" in DevTools"
- phone   // 0-600px
- tablet-port  // 600-900px
- tablet-land   //   900-1200px
- "normal - no set up  max width() needed"   //   1200-1800px
- big-screen  //  +1800px

1em = 16px,  and we're going to use em units in determining the breakpoints so it takes into 
consideration the useragent's settings; and the @media can't take into consideration
rem units anyway ...
*/

//MEDIA QUERY MANAGER mixin called "responsive"
@mixin responsive($breakpoint) {

    @if $breakpoint == phone {
         @media only screen and  (max-width: 37.5em) {@content};   //600px  - 600/16px  
    }

    @if $breakpoint == tablet-port {
        @media only screen and (max-width: 56.25em) {@content};  //900px  - 900/16px 
   }

   @if $breakpoint == tablet-land {
    @media only screen and  (max-width: 75em) {@content};   //1200px
   }

   /*@if $breakpoint == special-heading {
       @media (max-width:86.125em) {@content};  
       1378px, I didn't want to delete my animation for my desktop-first approach screen.
       So I created this breakpoint to allow my animation at normal screen size, 
       and no effect at all when it's lower 
   } */

   @if $breakpoint == big-screen {
    @media only screen and  (min-width: 112.5em) {@content};   //1800px
    }
}