//COLOR VARIABLES
$color-primary-light: #7ed56f ;
$color-primary: #55c57a ;
$color-primary-dark: #28b485 ;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff ;
$color-tertiary-dark: #5643fa ;

$color-black : #000;
$color-grey : #777;
$color-grey-2 : #999;
$color-grey-3 : #333;
$color-grey-light : #eee;
$color-white : #ffffff ;
$color-grey-light-1 : #f7f7f7;


//GRID VARIABLES
$width-row : 114rem;
$width-row-small : 45rem;   
$color-background-row : #eee;
$color-background-col : red;
$gutter-horizontal: 5rem;
$gutter-vertical : 5rem;    
$gutter-vertical-small : 2rem;    

//FONT VARIABLES
$font-default-size : 1.6rem;

//SHADOW
$shadow-box-1 : 0 1.5rem 4rem rgba($color-black, 0.15);
$shadow-box-2 : 0 1rem 2rem rgba($color-black, 0.2);
$shadow-box-3 : 0 2.5rem 4rem rgba($color-black, 0.5) ;
$shadow-text-1 : 0.5rem 1rem 2rem rgba($color-black, 0.2);
