.footer {
    background-color: $color-grey-3;
    color: $color-grey-light;
    padding: 12rem;

    @include responsive(tablet-port){
        padding: 6rem;
    }

    &__logo-box{
        text-align: center;
        margin-bottom: 5rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation{
        border-top: 1px solid $color-grey-light;
        display: inline-block;  //to stop the line at the end of the word "terms". Because block element takes all the widht available. Inline-block only the widht needed to display the content inside

        @include responsive(tablet-port){
            width: 100%;
            text-align: center;
        }
    }

    &__list{
        list-style: none;
    }

    &__item{
        display: inline-block;
        
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link:visited,
    &__link:link {
        text-decoration: none;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: inherit;
        transition: all .2s;
        display: inline-block;  //obligatory to make the effect/animation work
        }
    
    &__link:hover, 
    &__link:active {
        color: $color-primary;
        transform: rotate(5deg) scale(1.3);
        box-shadow: $shadow-box-2 ;
        background-color: $color-grey-3;
    }
        
    &__copyright{
        border-top: 1px solid $color-grey-light;
        display: inline-block;
        font-size: 1.4rem;
        width: 80%;
        float: right;

        @include responsive(tablet-port){
            width: 100%;
            text-align: center;
            float: none;
        }
    }

    &  .row { 
        @include responsive(tablet-port){
            max-width: 50rem ;
        }
    }

}

    
