/////////////////////////////////////////////////
///////MAKING A FLOATING SYS GRID WITH
////// .row class + .col-of-X columns class

.row {
    max-width: $width-row;
    //background-color: $color-background-row;
    margin: 0 auto;

    @include responsive(tablet-port){
        max-width: $width-row-small;
        padding: 0 3rem;
    }


    &:not(:last-child){
        margin-bottom: $gutter-vertical; //Bottom space between 2 rows

        @include responsive(tablet-port){
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include clearfix; //because rows uses float:left

    
    [class^="col-"]{   //select all classes that start with "col-" => select every .col-of-X 
        float: left;
        //background-color: $color-background-col;
        
        //Making a 1-column grid website
        @include responsive(tablet-port){
            width: 100% !important;  //to transform all the columns in a col-1-of-1
            margin: 0 0 $gutter-vertical 0!important;
            float: none !important;
        }

        &:not(:first-child){
            margin-left: $gutter-horizontal;
        }
    }

    //////////////////////////////
    //////MAKING THE COLUMNS
    .col-1-of-1 {
        width: 100%;
    }

    .col-1-of-2 {
            width: calc((100% - #{$gutter-horizontal}) / 2);
        }

    
    .col-1-of-3 {
            width: calc((100% - (2*#{$gutter-horizontal})) / 3);
        }
    
    
    .col-2-of-3 {
        width: calc(2*((100% - (2*#{$gutter-horizontal})) / 3) + #{$gutter-horizontal});
        }
    
    .col-1-of-4 {
        width: calc((100% - (3*#{$gutter-horizontal})) / 4);
        }
    
    .col-3-of-4 {
        width: calc(3*((100% - (3*#{$gutter-horizontal})) / 4) + 2* #{$gutter-horizontal}) ;
        }
    }
    
    
