.header {
    background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.80),
        rgba($color-primary-dark,0.8)),
    url(../img/hero-small.jpg);   //because the normal size is 2000px which is huge
    height: 95vh;
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    position: relative;  

    @include responsive(phone){
        clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
        height: 85vh;
    }

    @media only screen and (min-resolution: 192dpi) and (min-width : 56.25em),
                 (-webkit-min-device-pixel-ratio:192 dpi) and (min-width : 56.25em),
                 (min-width :125em){
                    background-image: linear-gradient(
                        to bottom right,
                        rgba($color-primary-light, 0.80),
                        rgba($color-primary-dark,0.8)),
                    url(../img/hero.jpg);   //which is the huge size pic at 2000px
            }


    //border-top-left-radius: 3px; 
    //border-top-right-radius: 3px;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;  //width will be automatically be put by the browser
    }

    &__box-heading {
        position: absolute;
        top: 40%; /* they are in relation with the parent coordinates*/
        left: 50%;
        transform: translate(-50%, -50%); /* it is  in relation with the elrement itself*/
        text-align: center; /* really useful and simpler than transform + translate or absolute positionning*/
        
        display: block;
    }
}