.navigation{
    
    //THE CHECKBOX:checked trick is used for the navigation
    &__checkbox{
        display: none; //to remove the checkbox we don't want to see
    }

    //////////// Making the white button
    &__button{
        height: 7rem; //we make it bigger than the background circle container so we're sure to be able to click on it
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;  // to get the exact center of the bacnkground container, taking into consideration that the element is 1rem bigger on each side
        right: 6rem;
        z-index: 2000;
        background-color: $color-white;
        box-shadow: $shadow-text-1;
        text-align: center; //to center the &__icon according to the button
        cursor: pointer;

        @include responsive(tablet-port){
            top: 3rem;  
            right: 3rem;
        }

        @include responsive(phone){
            height: 5rem; //making a smaller nav button for phones
            width: 5rem;
            top: 3rem; 
            right: 3rem;
        }
    }

    //////////// Making the green background, hidden behind the button,
    //////////// that will radiusly expand from behind when checkbox:checked
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary-light,$color-primary-dark);
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;
        //transform: scale(80); we used that for testing/formatting purposes at the beggining, to have the green background while formatting the list, the button, etc
        transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);

        @include responsive(tablet-port){
            height: 5rem;
            width: 5rem;
            top: 3.5rem;  // to get the exact center of the bacnkground container, taking into consideration that the element is 1rem bigger on each side
            right: 3.5rem;
        }
        
        @include responsive(phone){
            height: 4rem; 
            width: 4rem;
            top: 3.5rem;  // to get the exact center of the bacnkground container, taking into consideration that the element is 1rem bigger on each side
            right: 3.5rem;
        }
    }

    &__nav{
        height: 100vh;
        position: fixed; //so the view screen doesn't move when it appears
        z-index: 1500; //needs to be on top of the green background, and below the button
        top: 0; 
        right: 0; //determines from which side the nav we'll come and go back, from where it will go from 0 to 100% width, and go back from 100% to 0%
        //background-color: orangered;
        opacity: 0; //we make it disapear at the intial state and make it appear (becomes 1) when the checkbox is checked
        width: 0; //but we need to put this line because if it stays at 100%, the list items are invisible but still here. We can see it thanks to the cursor

        transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &__list{
        list-style: none;
        text-align: center;
        @include position-absolute-center  //mixin that use the classic top, left, translate(-50%,...)
        width: 100%;
        

    }

    &__item {
        margin: 1rem;
    }

    &__link:link,
    &__link:visited{
        display: inline-block; //really important to make the padding + the animation work !
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        font-weight: 300;
        font-size: 3rem;
        padding: 1rem 2rem;  //can work only on block, or inline-block elements
        
        background-image: linear-gradient(120deg,transparent 0%, transparent 50%, $color-white 50%);  //solid linear gradient trick
        background-size: 230%;  //make the (transparent50%,white50%) much bigger than what the inline-block container allow us to see. So we can only see the transparent color
        transition: all .4s;

        span{
            margin-right: 1.4rem;
        }
    }

    &__link:hover,
    &__link:active{
        color: $color-primary;
        background-position: 100%;  // the trick works with the backgroundsize + linear-solid-background + background position
        //check the video 49) at 22:19 if I don't understand anymore, it makes the white part shift to the left and takes all the place, and the transparent part will be completely on the left and we won't see it anymore
        transform: translateX(1.3rem);   //can work only on block, or inline-block elements
    }

    //FUNCTIONNALITY TO CREATE THE CHECKBOX TRICK
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    //ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;
        
        @include responsive(phone){
            margin-top: 2.5rem ;
        }
        
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-3;
            display: inline-block; //to create a container that we can fill up with color and set up the size (because it's a span element initially)

            @include responsive(phone){
                width: 2.5rem;
            }
        }

        &::before,
        &::after {
            content: ""; //COMPULSORY TO MAKE THE PSEUDO ELEMENTS APPEAR
            position: absolute; //we want to position them relatively to &__icon !!
            left: 0;
            transition: all .2s;
        }

        &::before {top:-.8rem;}
        &::after {top:.8rem;}
     }

     &__button:hover  &__icon::before {top:-1rem;} //it's a child element selector so just a space
     &__button:hover  &__icon::after {top:1rem;} 

     &__checkbox:checked + &__button &__icon {  //when the checkbox is checked, I select its direct brother and I select its child of this brother
         background-color: transparent; //to make disapear the center line - technique used in the course
     }

     &__checkbox:checked + &__button &__icon:before {  
        transform: rotate(135deg); //180deg-45deg ==> to make it rotate more and finish on the same result
        //top: 0; //if not, it won't make a cross, we need to make the icon pseudo_elements start from the center
    }

    &__checkbox:checked + &__button &__icon:after {  
        transform: rotate(-135deg);
        //top: 0;
    }
}