.bg-video {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    opacity: .15;
    overflow: hidden; //we clip the overflowing content with this line


    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover; //the element, the video, will fit the entire parent, the container, respecting the ratio
    }
}