.btn {
    &,
    &:link,
    &:visited {
        text-align: center;
        position: relative; /* because we use a btn pseudo-elrement which has an absolulute position */
        border-radius: 5rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.4rem 4rem;
        display:inline-block;
        transition: all 0.3s;  /* quick way to call the transitions in the intial state propety definition */ 
        font-size: $font-default-size;

        border: none; //because we use this class also for button elements
        cursor: pointer;
    }

    &:hover {
         //transform: translateY(-3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;   /*compulsory technique to not get problem */
            z-index: 40;
        }
    }

    &:active,
    &:focus {
        outline: none; //because we use this class also for button element
        transform: translateY(-1rem);
        box-shadow: 0 .5rem 1.5rem rgba($color-black, 0.2);
    }
    
    &::after {
        content: "";  /*compulsory when you create a pseudo element */
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5rem;
        z-index: -1;
        transition: all 0.3s;
    }

    &--animated {
        animation: comingFromBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }
}

.btn-small {
    display: inline-block;
    
    &:link,
    &:visited {
        color: $color-primary;
        text-decoration: none;
        font-size: $font-default-size;
        padding: 3px;
        border-bottom: $color-primary solid 1px;
        transition: all .2s;
    }

    &:hover{
        color: $color-white;
        background-color: $color-primary;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);

    }

    &:active{
        transform: translateY(0);
        }
    }
