.card {
    //FUNCTIONNALITY OF THE CARD 
    perspective: 150rem; //the lower, the more dramatic the effet is
    -moz-perspective: 150rem; //mozilla browser needs that to support
    //need to put the effect on the main parent/container
    
    position: relative; //because its direct child is in absolute positionning
    height: 53rem; //we put an height so the direct children inside (&__side) are not compressed and can be full size (50rem)

    &__side {
        height: 53rem; 
        width: 100%; //to correct the fact that absolute positionning will break the natural flow and force the 2 sides to be compressed on initial state
        transition: all .8s ease; //we use ease to make the animation smoother and non-linear about timing applied to the animation

        position: absolute; 
        top: 0;
        left: 0;

        overflow: hidden;
//we use absolute positionning on card__side so front and back sides are one on each other (and not one below the other one)                 
// then by using backface-visibility property, we can decide when to hide each backfaces (=when the 180deg rotation is applied to them);
        
        backface-visibility: hidden; //allows to hide the backface of an element (which is rotated for example)

        border-radius: 3px;
        box-shadow: $shadow-box-1;

        &--front {
                background-color: $color-white;
        }
        
        &--back {
            transform: rotateY(180deg);  
            text-align: center;
            padding: 8rem 0;

//this means that at it is "initial, not hovered" .card__side--back is already a backface. 
// So by using backface-visibility: hidden; at the initial state of card__side
// we successful hide each face when there is a rotation effect applied by hovering the .card

        &-1 {
            background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
             }
        
        &-2 {
            background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
             }

        &-3 {
            background-image: linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark);
             }
        }
    }

    &:hover &__side--front {    
        transform: rotateY(-180deg);  //we did put minus 180 deg to make it move in the correct direction
    //what we want is that when the big .card element/container is hovered, so it affects the card__side elements (direct children)
    //and the hover is not applied to .card__side but to .card and we define "backface" of the front side  we select ==>  .card:hover .card__side--front
    //it becomes a backface because a rotation effect is applied. So it becomes hidden cuz of backface-visibilty : hidden applied to his parent
    }

    &:hover &__side--back {    //same, we select .card:hover .card__side--back , what we want is that when the big card element/container is hovered, so it affects the card__side
        transform: rotateY(0deg);
    }

    //FRONT SIDE STYLING
    &__picture { //we style everything we can at this upper lever
        height: 23rem;
        background-size: cover;
        background-blend-mode: screen; // allow to mix/blend the 2 background images used in each case below. A lot of modes are aivailable and I can use Chrome Dev tool to test
        -webkit-clip-path: polygon(0 0, 100% 0,100% 85%,0 100% );  //if doesn't work with some browser, use skewX and anti skewX technique
        clip-path: polygon(0 0, 100% 0,100% 85%,0 100% );

        &--1{
            background-image: url(../img/nat-5.jpg),
            linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
        }

        &--2{
            background-image: url(../img/nat-6.jpg),
            linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
        }

        &--3{
            background-image: url(../img/nat-7.jpg),
            linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark);
        }
    }

    &__heading {
        text-transform: uppercase;
        font-size: 2.8rem;
        color: $color-white;
        font-weight: 300;
        position: absolute;
        top : 12rem;
        right: 2rem;
        text-align: right;
        width: 75%; //to create a breakpoint and not occupy the full width of the card
        
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone ; //create two distinct element at the break point, with the same attributes
        box-decoration-break: clone ;

        &--1{
            background-image: linear-gradient(to right, 
            rgba($color-secondary-light, .85), 
            rgba($color-secondary-dark, .85));
        }

        &--2{
            background-image: linear-gradient(to right, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }

        &--3{
            background-image: linear-gradient(to right, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }
    }


    &__details {
        text-align: center;
        padding: 3rem;

        ul {
            list-style-type: none;
            font-size: $font-default-size;
            color: $color-grey;
            width: 80%;
            margin: 0 auto; //it's a block element inside an other block element, so simpliest method

            li {
                text-align: center;
                padding: 1rem 0; 

                &:not(:last-child) {
                    border-bottom: 1px $color-grey-light solid;
                }
            }
        }
    }   

    &__cta{
        margin: 0 auto; //in the course he decided to use absolution positionning with classic technique top : 50% ; left : 50% ; translate(-50%,-50%);
        vertical-align: middle;
    }

    &__back-comment {
        text-transform: uppercase;
        font-size: $font-default-size;
        color: $color-white;
        padding: 3rem 0rem  .5rem 0rem;
    }

    &__price-tag {
        font-size: 7rem;
        color: $color-white;
        font-weight: 100;
        margin-bottom: 8rem;
    }





    @media only screen and (max-width: 56.25em), 
    only screen and (hover: none) {   //useful to take into consideration iPad or Landscape that are wide but doesn't have the hover function
        /* I copy-pasted the whole set up of the .card and then deleted all the parts that won't change
        in the tablet-port view like design elements, etc. In this media query it's mainly about deleting
        the hover effect, put the back-card part at the bottom of the front (= delete "absolute" positionning), 
        creating a clip-path effect for the bottom part, and adapting the font sizes */
    
        height: auto; //we don't need anymore to have the back and front card parts to be the same 53rem height and absolute positionned one perfectly behind the other one
        border-radius: 3px; //we want the border radius effect to happen on the whole new card, and not only on each sides
        box-shadow: $shadow-box-1; //same comment
        background-color: $color-white;

        &__side {
            height: auto; 
            position: relative; 
            box-shadow: none; //to allow the two cards to be unified in one, with no shadow right in the middle of the new card

            
            &--back {
                transform: rotateY(0deg);  
                padding: 4rem 0;
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {    
            transform: rotateY(0deg);  
        }

        &__details {
            padding: 0rem;
        }   

        &__back-comment {
            padding: 0rem;
        }

        &__price-tag {
            font-size: 5rem;
            margin-bottom: 2rem;
        }
    }
}