.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: $shadow-box-1;
        border-radius: 2px;
        position: absolute;
        z-index: 10; //random z-index
        transition: all .2s;
        outline-offset: 2rem;

        @include responsive(tablet-port){
            width: 33.3333%;
            float: left;
            position: relative;
        }

        &:hover {
            outline: 1.5rem solid #55c57a;
            transform: scale(1.05) translateY(-0.5rem);
            box-shadow: $shadow-box-1;
            z-index: 20; //just a higher z-index than active/link state of the images
        }

        &--1{
            left: 0;
            top: -2rem;

            @include responsive(tablet-port){
                transform: scale(1.2);
                top:0;
            }
        }
        
        &--2{
            right: 0;
            top: 2rem;
            @include responsive(tablet-port){
                transform: scale(1.3);
                top:0;
                z-index: 100;
            }
        }

        &--3{
            left: 20%;
            top: 10rem;
            @include responsive(tablet-port){
                transform: scale(1.1);
                top:0;
                left: 0;
            }
        }

    }

    &:hover &__photo:not(:hover){  //when I enter the composition and hover it, I want to select 
        transform: scale(.95);    //all the compositions__images that are not hover to scale them at .95 (make it smaller
    }
}

