.features-box {
    background-color: rgba($color-white, 0.8);
    text-align: center;
    padding: 3rem;
    border-radius: 3px;
    box-shadow: $shadow-box-2;
    transition: all .2s;
    
    &__icon {
        font-size: 6rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text; //up-here-down, nice gradient effect. With h tag, must put inline-block first because it's a block element by default
        color: transparent;
    }

    &__text {
        font-size: $font-default-size;
        color: $color-grey;
        margin-top: 1.5rem;
    }

    &:hover{
        transform: scale(1.07) translateY(-4px);
    }
}