.form{
    &__group {
        &:not(:last-child){
            margin-bottom: 2rem;

        @include responsive(tablet-port){
            margin-bottom: 0rem;
            }
        }
    }

    &__input {
        padding: 1.5rem 2rem;
        color: inherit;
        font-family: inherit;
        font-size: 1.5rem;
        outline: none;
        display: block;
        width: 90%;
        border: none;
        background-color: rgba($color-white, .5);
        border-bottom: 3px  solid transparent;    //we had this transparent border to avoid the input elements to move because of the 3px added on the focus mode by the border-bottom solid
        animation: all .3s;

        @include responsive(tablet-port){
            width: 100%;
        }

        &::-webkit-input-placeholder {  //pseudo-element to select the placeholder
            color: $color-grey-2;
        }

        &:focus{         //which is like &:focus:valid
            border-bottom: 3px solid $color-primary ;    
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
        }


        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark ;    
        }

    }

    &__label {
        display: block;
        margin-left: 2rem;
        margin-top: .7rem;
        font-family: inherit;
        color: $color-grey-2;
        font-size: 1.2rem;
        font-weight: 700;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;  //we don't only use this, and we use with opacity:0 both at the same time, because we can't controle visibility animation
        transform: translateY(-4rem);
    }


    &__group &__radio-group{
        display: inline-block;    
        width: 49%;

        @include responsive(tablet-port){
            width: 100%;
        }
    }

    &__radio-input{
        visibility: hidden;
    }


    &__radio-label{
        font-size: $font-default-size;
        color: $color-grey;
        position: relative;
        display: block;
        left: 4rem;
        cursor: pointer;

    }

    &__radio-button{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: .5rem solid $color-primary;
        display: block;
        position: absolute;
        left: -4rem;


        &::after{
           content: "";
           height: 1.5rem;
           width: 1.5rem;
           border-radius: 50%;
           background-color: $color-primary;
           display: block;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%,-50%);
           opacity: 0;
           transition: all .3s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after  {
        opacity: 1;
    }
}

