.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color-grey,.3);
    z-index: 3000;
    opacity: 0;
    visibility: hidden;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)){
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }


    
    &__content{
        @include position-absolute-center  
        //transform : scale(0.25);   I can't use two transform styling on thw different lines, I need to put all of them in one single transform, and my mixin already use transform : translate
        transform : translate(-50%,-50%) scale(0.25);
        opacity: 0;

        width: 75%;
        //height: 50rem; for testing purposes
        background-color: $color-white;
        box-shadow: $shadow-box-3;
        border-radius: 3px;

        display: table;
        overflow: hidden;

        @include responsive(phone){
            width: 90%;
            max-height: 90%;
            overflow-y: scroll;
            display: block;
        }
    }

    &__left-side {
        width: 33.333333%;
        display: table-cell;

        @include responsive(tablet-port){
            width: 0;
        }

        @include responsive(phone){
            display: none;
        }
    }

    &__right-side {
        width: 66.6666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem ;

        @include responsive(tablet-port){
            width: 100%;
            padding: 1.5rem 3.5rem ;
        }
    }

    &__picture {
        display: block;
        width: 100%;

        @include responsive(tablet-port){
            display: none;
        }
        
        &--top {
            display: inherit;
            width: inherit;
        }    

        &--bottom {
            display: inherit;
            width: inherit;
        }    
    }

    &__text{
        font-size: 1.4rem;
        color: $color-grey-2;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light;

        hyphens: auto;

        @include responsive(phone){
            column-count: 1;
        }
    }

    &__close:link, 
    &__close:visited {
        position: absolute;
        top: 2.5rem;
        right: 3rem;
        display: inline-block;
        font-size: 3rem;
        line-height: 1;
        color: $color-grey-3;
        text-decoration: none;
        transition: all .2s;

        @include responsive(phone){
            top: 2rem;
            right: 2.5rem;
        }
    }

    &__close:hover, 
    &__close:active {
        color: $color-primary;
        transform: scale(1.2);
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {   // I want to syle the &__content when popup is targeted
        opacity: 1 ;
        transform: translate(-50%,-50%) scale(1); //because need to put all transform on the same line
        transition: all .4s .2s;
    }

    & .btn{
        @include responsive(tablet-port){  
            /*to center the .btn, I didn't want to wrap 
            the btn by a div, and I can't use absolute positionning because turning 
            .popup into position: relative breaks the position: fixed.
            So I put a fixed weight and used margin-auto method*/
            display: block;
            width: 142px;
            margin: 0 auto;
        }
    }
}