.box-story {
    @include clearfix ;

    width: 75%;
    margin: 0 auto;
    background-color: rgba($color-white,  .6) ; //good trick rgba() to make more transparent just the bck color
    padding: 4rem 8rem;
    padding-left: 12rem;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0  100%);
    -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0  100%);
    vertical-align: middle;
    //an other technique could have been to use skewX on the box-story (-12deg) 
    // and apply a skewX(12deg)  to &__text AND add skewX(12deg) to the transfort which is on u-shape-circle
    //because css can't handle two different transform on the same element so I need to put all the transformation on the same line
    position: relative;
    z-index: 1;

    
    @include responsive(tablet-port){
        width: 100%;
        padding: 2rem 5rem 2rem 7rem;
    }

    @include responsive(phone){
        width: 100%;
        padding: 2rem 5rem 2rem 7rem;
        clip-path: none;
        border-radius: 3px;
    }


    &__shape{
        //an other technique could have been to put my utilites data here 
        //in this selector instead of using them as class connected to the elements in the html file
    }

    &__text{
        font-size: $font-default-size;
        color: $color-grey;
    }

    &__caption {
        text-transform: uppercase;
        font-size: $font-default-size;
        color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%); //we put 20% for the initial state at the bottom. Then we hover it will come to -50%
        text-align: center;
        opacity: 0; //at the initial state it's invisible and become visible during hover
        transition: all .5s;
        backface-visibility: hidden; //quick fix against weird vibration unexplained effect

    }

    &:hover &__caption { //we want the effect to happen when we hover the full box, not only the picture
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &__image {
        transform: scale(1.4); //same, we set up the intial state, so when we hover we have this unzoom effect
        transition: all .5s;
        backface-visibility: hidden; //quick fix against weird vibration unexplained effect
    }
    &:hover &__image { //we want the effect to happen when we hover the full box, not only the picture
        filter: blur(3px) brightness(80%);
        transform: scale(1);
    }

    &:hover {
         background-color: rgba($color-white,  .8) ;
    }


}