//OTHER FEATURES AVAILABLE :
//@animation-timing-function: ease-out, ease-in, linear, cubic-bezier();
//animation-delay: 3s;
//animation-iteration-count: 4; 

@keyframes comingFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes comingFromBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes comingFromRight {
    0% {
        opacity: 0;
        transform: translateX(4rem);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }
    
    70% {
        transform: translateX(1rem);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}