*,
*::after,
*::before {padding: 0; margin: 0; box-sizing: inherit;}

html {font-size: 62.5%;  // this sets up what 1rem = 10px ; 10px/16px = 62.5%

    /* For the media queries, I must define what new value I want for 1 rem
    phone, for 0-600 screen width => I want 1 rem = 8px  ; 8px/16px = 50%
    table-port, 600-900 => I want 1 rem = 8px  ; 8px/16px = 50%
    tablet-land, 900-1200 => I want 1 rem = 9px  ; 9px/16px = 56.25%
    normal  => I want 1 rem = 10px ; 1px/16px = 62.5%
    big-screen, +1800 => I want 1 rem = 12px ; 1px/16px = 75%

    So the result is :
    max-width(900) , 50%
    max-width(1200), 56.25%
    min-width(1800), 75%

    And the correct order is (to prevent unwanted overwritting, cuz it's the last one that will overwrite the others:
    max-width(1200), 56.25%
    max-width(900) , 50%
    min-width(1800), 75%
*/

    @include responsive (tablet-land){
        font-size: 56.25%;
        }

    @include responsive (tablet-port){
        font-size: 50%;
        }

    @include responsive (big-screen){
        font-size: 75%;
        }
} 

body {
    box-sizing: border-box;
    padding: 3rem;

    @include responsive (tablet-port){
        padding: 0;
        }
}

::selection{
    background-color: $color-primary;
    color: $color-white;
}