body {
    font-family:"Lato",sans-serif ; 
    line-height: 1.7; 
    font-weight: 400; 
    color : $color-black;
}

.heading {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 4rem;

    &--upper {
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 4rem;

        display: block;
        animation-name: comingFromRight;
        animation-duration: 2s;


        //RESPONSIVNESS
        @include responsive (tablet-land){
            letter-spacing: 3rem;
        }

        @include responsive (tablet-port){
            letter-spacing: 1.5rem;
            font-size: 5rem;
        }

        @include responsive (phone){
            letter-spacing: 1rem;
            font-weight: 400;
            font-size: 4.5rem;

        }

    }

    &--sub {
        display: block;
        font-weight: 700;
        letter-spacing: 1rem;
        font-size: 2rem;
        padding-left: .2rem;

        display: block;
        animation-name: comingFromLeft;
        animation-duration: 2s;

        //RESPONSIVNESS
        @include responsive (tablet-land){
            letter-spacing: .5rem;
            font-weight: 400;
        }

        @include responsive (tablet-port){
            font-weight: 400;
        }

        @include responsive (phone){
            font-size: 1.5rem;
        }

    }
}

//.grid-test {color : $color-white;}

.heading-secondary { //we don't want to put a bottom margin here because it's won't be 100% reusable everywhere then, across all pages. We'll an utility instrad
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block; //so the background linear color begins & stops where the text starts & stop. So not a block anymore
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing : .2rem;

    @include responsive(tablet-port) {
        font-size: 3rem;
    }
    
    @include responsive(phone) {
        font-size: 2.5rem;
    }



    &:hover{
        transform: skewY(2deg) skewX(15deg);
        text-shadow: $shadow-text-1;
    }

}


.heading-tertiary{
    font-size: $font-default-size;
    color: $color-grey;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph {
    font-size: $font-default-size;
    color: $color-grey;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}


/* FIRST HEADING STYLING PROJECT WITH A DOUBLE EFFECT ON TWO SEPARATE BLOCKS

.heading {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 4rem;

    &--upper {
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 4rem;
        //animation-name: comingFromRight;
        //animation-duration: 2s;*

        @include responsive (special-heading){
            letter-spacing: 3rem;
            }

        &>span {
            display: inline-block;
            animation-duration : 2s;
        }

        &--first-half {
            animation-name: comingFromLeft;
            
            @include responsive (special-heading){
                animation-name: none ;
                }
        }

        &--second-half {
            animation-name: comingFromRight;            
        }
    }

    &--sub {
        display: block;
        font-weight: 700;
        letter-spacing: 1rem;
        font-size: 2rem;
        padding-left: .2rem;

        &>span {
            display: inline-block;
            animation-duration : 2s;
        }

        &--first-half {animation-name: comingFromLeft;}

        &--second-half {animation-name: comingFromRight;}
    }
}

*/