.u-center-text {text-align: center !important; } // a block element to center text inside
.u-center-block {margin: 0 auto !important;}


//MARGINS
.u-bottom-margin-big {
    margin-bottom : 8rem !important;
    @include responsive(tablet-port){
        margin-bottom : 5rem !important;
    }
}
.u-bottom-margin-middle {
    margin-bottom : 4rem !important;
    @include responsive(tablet-port){
        margin-bottom : 3rem !important;
    }
}

.u-bottom-margin-small {margin-bottom : 1.3rem !important;}

.u-top-margin-big {
    margin-top : 8rem !important;
    @include responsive(tablet-port){
        margin-top : 4rem !important;
    }
}

//IMAGES
.u-image-circle-cropper{
    width: 14rem;
    height: 14rem;
    overflow: hidden;
    clip-path:  circle(50% at 50% 50%) ; //to make a circle shape !!
    -webkit-shape-outside: circle(50% at 50% 50%);
}

.u-centered-image-in-circle {
    margin: 0 auto;
    margin-left: -25%; //centers the image inside the shape
    height: 100%; //to be fully displayed in the circle drawn by the .u-image-circle-cropper
    width: auto;
}

.u-float-left {float:left ;}

.u-shape-circle {  //to work it needs to be a floating element + a dimensionned element
    shape-outside: circle(50% at 50% 50%); //means create a shape around the box of 50% of the total width (= le rayon) and place it right at the middle of the shape (= le centre)
    -webkit-shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem); //best way to create margins with floating elements is to use Translate, not "margins"
}

