.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; //because of the polygon effect of the header we put 95vh - 75vh = 20h difference we fill with a negative top margin
    //margin-bottom: -10rem; //would have been used if we have chosen the 2nd solution for the diagonal effect

    @include responsive(tablet-port){
        padding: 15rem 0;
        margin-top: -15vh;
    }
}

.section-features {
    padding: 16rem 0;
    background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.80),
        rgba($color-primary-dark,0.8)),
    url(../img/nat-4.jpg);
    background-size: cover; //useful property
   
    // other technique we can use to make this diagonal effect we have on the header.
    // but to prevent to skew all elements contained (cuz of inheritance) we must select all direct child
    // and apply them a counter skew effect
    transform : skewY(-7deg);
    margin-top: -9rem;  // to make the left angle go a bit higher to hide the white background

    @include responsive(tablet-port){
        padding: 15rem 0 5rem 0;
    }

    & > * {
        transform: skewY(7deg);
    }

    // the other solution would have been, like for the header, to be parallel
    //clip-path: polygon(0 20%,100% 0,100% 80%,0 100%);
    //position: relative;  
    //margin-top: -17rem;
}



.section-tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 20rem 0;
    margin-top: -12vh; 

    @include responsive(tablet-port){
        padding: 15rem 0 8rem 0;
    }
    
    & div:last-child{
        @include responsive(tablet-port){
            margin-top: 0 !important;
        }
    }
}

.section-stories{
    padding: 15rem 0 10rem 0;
    margin-top: -12vh; 
    position: relative;

    // & .btn-small {   
    // with this I centered the object, the a element. 
    // A better practice is to put my a element in a box and center the box
        //position: absolute;
        //left: 50%;
        //transform: translateX(-50%);
    // }
    
    @include responsive(tablet-port){
        padding-bottom: 5rem;
    }
    
}

.section-book {
    padding : 15rem 0 10rem 0;
    background: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);

    @include responsive(tablet-port){
        padding: 10rem 0 5rem 0;
    }

}


//we style .book here, and not in a component, because we consider it's specific to the page, and this styling is not about a reusable component
//we'll use a component to style the form's content
.book {
    background-image: linear-gradient(105deg, 
                                                        rgba($color-white, .9) 0%, 
                                                        rgba($color-white, .9) 50%, 
                                                        transparent 50%), 
                                        url(../img/nat-10.jpg);
    //technique to create this diagonal break
    //120deg gives the orientation
    //height: 55rem;   for testing purposes, then we'll be replaced by the height of the real content
    
    background-size: 100%; //not equals "cover" because it covers it only on the X axis, "cover" will do the job for both X and Y axis
    border-radius: 3px;
    box-shadow: $shadow-box-3;

    @include responsive(tablet-land) {
        background-image: linear-gradient(105deg, 
                                                        rgba($color-white, .9) 0%, 
                                                        rgba($color-white, .9) 65%, 
                                                        transparent 65%), 
                                        url(../img/nat-10.jpg);
    background-size: cover; //instead of 100%, to cover entirely
    } 

    @include responsive(tablet-port) {
        background-image: linear-gradient(105deg, 
                                                        rgba($color-white, .9) 0%, 
                                                        rgba($color-white, .9) 100%), 
                                        url(../img/nat-10.jpg);
    background-size: cover; 
    } 


    &__form{
        padding: 6rem;
        width: 50%; 

        @include responsive(tablet-land){
            width: 65%;
            padding: 5rem;
        }

        @include responsive(tablet-port){
            width: 100%; 
            padding: 4rem;
        }
    }



};

    
